<!DOCTYPE html>
<html>

<head>
      <title> new Project</title>
      <link rel="stylesheet" href="css/style.css" />
</head>

<body>


      <form id="form1">
            <input type="text" id="address">

            <button onclick="document.getElementById('h').style.display='none'"> find wheater</button>

      </form>
       <h2 id="location"></h2>
      <h2 id="forecast"></h2>
      <h2 id="latitude"></h2>
      <h2 id="longitude"></h2>
      <h2 id="error"></h2>

      <h2 id="h">Welcome to our website. To know your country's weather, longitude and latitude, please enter the name of your country </h2>



      <script src="js/script.js"></script>

</body>

</html>